.portfolio-page {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.portfolio-page section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 100%;
  max-width: 1000px;
}

/* -------------------- portfolio-page-title section --------- */
section.portfolio-page-title {
  max-width: 800px;
}
section.portfolio-page-title h3 {
  line-height: 30px;
  font-weight: 400;
  font-size: 25px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  section.portfolio-page-title h3 {
    line-height: 25px;
    font-size: 20px;
  }
}

/* -------------------- showcase section --------- */
section.showcase {
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 40%;
  margin: calc(1vmin + 10px);
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.card:hover {
  transform: scale(1.03);
}
.card-front,
.card-back {
  width: 100%;
  will-change: transform, opacity;
}
.card-back {
  position: absolute;
  left: 0;
  font-size: 0;
  filter: brightness(30%);
}
.card img {
  box-shadow: 0 5px 15px rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  border: 2px solid rgba(26, 70, 3, 0.2);
  width: 100%;
}

.tech-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tech-labels ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.tech-labels li {
  list-style: none;
  width: 90px;
  height: 30px;
  padding-top: 6px;
  margin: 1px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  background-image: linear-gradient(
    180deg,
    rgba(70, 70, 70, 0.8),
    rgba(30, 30, 30, 0.9)
  );
}
.tech-labels a {
  text-decoration: none;
  transition: transform 0.4s ease;
}
.tech-labels a:hover {
  color: white;
  transform: scale(1.1);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.564);
}
@media only screen and (max-width: 800px) {
  .card {
    width: 90%;
  }
}
