.land-link {
  font-family: "Lobster", cursive;
  font-size: calc(5vmin + 10px);
  letter-spacing: 5px;
  margin: 0 30px;
  padding: 50px 0;
  color: var(--link-text-color);
  text-shadow: 0 5px 20px var(--text-shadow-color);
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
  top: -10vh;
}
.land-link:hover {
  transform: translateY(-10px) scaleX(1.2) rotateY(25deg);
  color: rgba(255, 255, 255, 0.8);
}
.page {
  position: absolute;
  padding: 15px;
  width: 96%;
  max-width: 1200px;
  height: 80%;
  /* background-color: var(--page-bg-color); */
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.85),
    rgba(238, 243, 231, 0.95)
  );
  border-radius: 15px;
  transition: all 0.5s ease;
  z-index: 10;
  box-shadow: 0 0 20px var(--bg-shadow-color);
}

ul li {
  list-style: none;
}
@media only screen and (max-width: 800px) {
  .land-link {
    margin: 0 10px;
  }
  .page {
    padding: 10px;
  }
}
